@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./../components/button";
.hero img {
  height: 25vh;
}

.heading-container {
  height: 65vh;
  top: -50px;
}

td {
  @apply border-2;
}
