@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import "./../components/button";
.hero img {
  height: 25vh;
}

.heading-container {
  height: 65vh;
  top: -50px;
}

table {
  @apply table-auto w-4/5 m-auto border-collapse border;
}

td {
  @apply border-2 capitalize justify-center;
}

td img {
  @apply flex justify-center;
}

td span {
  @apply py-3;
}
